/* h1{
    text-align: center;
    background-color:#51E2F5;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
  
    
} */


 

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("https://usa.visa.com/dam/VCOM/regional/na/us/run-your-business/images/3-cards-desk-1600x900.jpg");
  background-attachment: fixed;
  background-size:cover;
}

.form-wrapper {
  width: 600px;
  height:850px;
  flex-direction: column;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px  #519e8a;
  background-color:#dbc0c5;
  margin-right: 50%;
  margin-top: 50px;

}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  
} */

label {
  font-size: 0.9em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
  font-weight:bold;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstname,
.email,
.city,
.orderid,
.currency{
  margin-right: 1%;
}

.lastname,
.phone,
.country,
.propertyitem,
.amount {
  margin-left: 1%;
}

.firstname,
.lastname,
.phone,
.city,
.country,
.email,
.orderid,
.propertyitem,
.currency,
.amount,
.address {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.firstname,
.lastname,
.city,
.country,
.orderid,
.propertyitem,
.currency,
.amount,
.phone,
.email{
  width: 49%;
}


.address{
  width: 100%;
}



/* button.submit {
  background-color:#1916ee ;
  color: #fff;
  border: 2px solid #FFA8B6;
  width: 100%;
  height: 100%;
  margin-top: 0em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  border-radius: 10px;
  box-shadow: 0px 20px 60px black;
}

button:hover {
  color: #A28089;
  background-color:rgba(219, 8, 43, 0.979);
  border: 3px solid #FFA8B6;
  cursor: pointer;
} */