.main-navbar {
    background-color: #383737;
    position: fixed;
    width: 100%;
}

.logo-card {
    height: 40pt;
    width: 40pt;
    /* margin-right: 10pt; */
}

.logo-card-sidebar {
    height: 40pt;
    width: 40pt;
}